.git
.gitignore
.kilo
.playwright-mcp

node_modules
backend/node_modules
frontend/node_modules

frontend/build
frontend/dist

backend/.env
frontend/.env
frontend/.env.*
.env
.env.*

*.log
*.pdf
*.zip
*.tar
*.tar.gz
aws
awscliv2.zip
npm-debug.log*

.cache
.DS_Store
Thumbs.db
